.marquee h1 {color: #93A445 !important; }
.marquee h2{color:unset !important; font-size:1.8em;}
.marquee h3 {font-size:15px;}
.marquee h3 a {color: #93A445 !important; font-weight:normal;}
.marquee p {text-align: center;padding-bottom:20px;}
a.menuitem {color:#666 !important;font-weight:600;}
.bioClass img {margin-top: -100px;
    border: 5px solid #93A445;
    background: #fff;
    width: 200px;
    height: 200px;
    margin-bottom: 33px;}
    i.green {color: #93A445 !important;font-size:8px;padding:4px;}
    .overlay {border-bottom:5px solid #93A445;}

