p, h1,h2,h3,h4,h5 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
/* Remove this after it is removed from site. For Front banner */
.titleSpacer h1 {font-size:58px !important;}
.titleSpacer h2 {font-size:40px !important;}
.Grad2020 {
    color:#FFF;
    font-weight:900;
   font-size:80px;
   padding-top:40px;
    padding-bottom:40px;
   text-shadow: 5px 5px 18px #222;
}
.Grad2020IMG {
   width:40%;
   padding-top:25px;
   padding-bottom:50px;
    background: unset;
}
.Grad2020Banner .left {
    font-weight:bold;
    float:left;
    padding-left:200px;
}
.Grad2020Banner .right {
    font-weight:bold;
    float:right;
    padding-right:200px;
}
.Grad2020Banner a{
    width:500px;
    font-size:20px;
}
/* DAC Page Styles */
.DAC tr{
height:175px;
}

.DICPhoto
{
background-color:#fbfbfb;
}
.DACTitle {text-align: center;
    margin-bottom: 5px;}
.DACName {font-weight: 700;
    text-align: center;
    font-size: 17px;
    margin-bottom: 6px;}
.DACBusiness{text-align: center;
    margin-bottom: 0px; font-size:14px;}

/* End DAC Page Styles */



/* Foundation Override*/
.myButtons {
   margin: 0.2em 0 0.2em 1em !important;
}
/* End Foundation Override*/
/* Google Calendar Styles */
#calenderTitle {
   display:none;
}
/* Style for MailChimp */
#mc_embed_signup {
   background:none !important;
}
.mc-field-group {
   width:46% !important;
    padding-bottom:1% !important;
    clear: unset !important;
    float:left;
    padding-left:20px !important;
}
#mc_embed_signup .asterisk {
   top:-1px !important;
    font-size:100% !important;
}
/* Style for Youtube Videos */
.youtube {
    width: 510px;
    height: 301px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.youtube iframe, .youtube object, .youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}
.youtube img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}
.youtube img:hover {
    -webkit-filter: brightness(75%);
}
.youtube .play {
    height: 72px;
    width: 77px;
    left: 54%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("https://www.edwards.usask.ca/images/general/youtube_play_icon.png") no-repeat;
    cursor: pointer;
}
/* Style for MailChimp */
/* Styles for the scroller */
.slick-slider {
    background-color: none !important;
}
/* For the internal stuff on the cards for the Msc cards */
.imgDiv{
    width:41%;
    height:100%;
    float:left;
    background-position:center;
    background-size:cover;
}
.wordsDiv {
    width:49%;
    padding-left:21px;
    float:left;
}
.slick-track {
   height:250px;
}
.slick-slide {
   background-color:#fff !important;
   margin-right:10px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4) !important;
   border-radius: 7px 7px 7px 7px;
    transition:0.3s;
   min-height:312px !important;
    height:auto;
}
.slick-slide p{
   text-align:left;
    font-size:13px;
    color:#333;
    line-height:21px;
}
.slick-slide h3{
    font-size:22px;
    margin-bottom:10px;
    margin-top:20px;
    text-align:left;
    color:#333;
    font-weight:bold;
}
.slick-slide img{
    float:left;
    height:100%;
    padding-right:10px;
    border-radius: 7px 7px 7px 7px;
    margin: 0px !important;
}
.slick-list {
   overflow:unset !important;
}
/* End scroller */
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
/* News Test Styles */
.newsFilters{
    list-style-type: none;
    margin-left:0px !important;
    padding-top:20px;
}
.newsFilters li {
   display:inline;
}
.newsFilters .newsOn:before {
    content: "\f00c";
    font-family:fontawesome;
}
.newsFilters .newsOff:before {
    content: "\f00d";
    font-family:fontawesome;
}
.newsFilters .newsOff {
    background-color:#ccc !important;
    border:1px solid #aaa;
    color:#999 !important;
}
.newsFilters .newsOff:hover {
    background-color:#ccc !important;
    border:1px solid #333;
    color:#333 !important;
}
.newsItem img {
   width:150px;
   display:table-cell;
   border:1px solid #eee;
    border-radius:5px;
   margin: 14px 14px 14px 0px;
}
.newsItem {
   display:table;
   border-bottom:1px solid #ddd;
   clear:both;
}
.newsText {
   display:table-cell;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 5px;
    width:85%;
}
.keywords {
    color: #666;
    font-style: italic;
    font-size: 13px;
}
/* End News Test Styles */
.frontPageBanner{
   xbackground-position-y: -238px;
}
.content h1 {
    color:#000;
}
.Green h1, .Green h2 {
    color:#fff !important;
}

.Green a {
    font-weight:900;
    color:#fff;
}
.Green a:hover {
    font-weight:900;
    color:#84B541 ;
}
.content h1, .Gray h1, .Green h1{
    font-size:36px !important;
    font-weight:700;
    color:#444;
    line-height:1.2;
    letter-spacing:-0.5px;
    margin-bottom:30px;
}
.content h2, .Gray h2, .Green h2 {
    font-weight:400;
    font-size:24px !important;
}
.content h3 {
    font-size:18px;
}
.content h4{
    font-size:18px;
    font-weight: 800;
}
.content h6 {
    font-style:italic;
    font-size:12px;
    color:#999;
}
.content img {
    margin:0px 15px 15px 15px;
}
.content ol, .content ul {
    line-height:29px;
    margin-bottom:1em;
}
.facultymember {
    height: 210px;
    width: 175px;
    position: relative;
    overflow: hidden;
    float:left;
}
.facultymember img {
    width:190px;
    margin:15px;
    border:1px solid #ddd;
}
.facultymember span {
    background: #111;
    top: 185px;
    left: 17px;
    opacity:0.9;
    color: #fff;
    width: 158px;
    position: absolute;
}
/* row styles */
.marquee h1{
    font-size:45px !important;
}
.Standard {
    padding-top:20px;
    padding-bottom:20px;
    background-color:#fff;
    margin-top:40px;
}
.Green {
    padding-top:60px;
    padding-bottom:40px;
    xmargin-bottom:40px;
    background-color:#84B541;
    color:#fff !important;
}
.Gray {
    padding-top:60px;
    padding-bottom:40px;
    background-color:#F1F3F1;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
    color:#111;
    background-image:url('/images/backgrounds/squares-grey.png');
    background-size:cover;
    xmargin-bottom:40px;
}
.Gray table {
    border:1px solid #ccc;
}
.featureBox {
    width:22%;
    padding-bottom:10px;
    border:1px solid #ccc;
    position:relative;
    overflow:hidden;
    float:left;
    margin:11px;
}
blockquote {
    line-height: 1.6;
    color: #84B541 !important;
    Font-weight: 900;
    font-size: 18px;
    letter-spacing: -1.7px;
    border-left: 1px solid #84B541 ;
}
blockquote p {
    color: #84B541 !important;
}
.featureBox:hover {
    border:1px solid #999;
}
.featureBox a {
   display:block;
}
.featureBox h4 {
    padding-top:4px;
    text-align:center;
    margin:0 auto;
    font-weight:600;
    color:#333;
    font-size:15px;
    white-space: nowrap;
}
.featureBox:hover {
    border:1px solid #999;
    color:#999;
}
.featureBox a img {
    border:0;
    background-color:#fff;
    padding-top:10px;
    margin:0px;
}
/* row styles end */
.horizontalLinks {
    font-size:1.3em;
}
.horizontalLinks i {
    vertical-align: middle;
    font-size:0.4em !important;
    padding-left:5px;
    padding-right:5px;
}
.sticky {
   z-index: 1;
}
a{
   color:#84B541;
}
a:hover{
   color:#84B541;
}
a:focus{color:#84B541}
.button {
   border-radius:3px;
}
.button.bold {
    font-weight: 600;
    
}
.button.success {
    background-color:transparent;
    border-radius:3px;
    border:1px solid #fff;
}
.button.success.search {
    height:30px;
    border-radius:0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top:8px;
    margin:0px;
    margin-top:-13px;
    border-left:none;
}
.marquee-small {
    font-size:0.8rem;
    padding-top:0px;
    padding-bottom:40px;
    color:#fff;
    text-align:center;
}
.button.dark {
    background-color:#333;
    font-weight:bold;
}
.frontContent {
    padding-top:45px;
}
h1.frontNews{
    margin-left:15px;
    font-size:30px !important;
}
.frontNewMentions{
    margin-left:15px !important;
}
.content {
    xpadding-top:45px;
    padding-bottom:25px;
}
.row {
    width:100%;
    max-width:4000px;
}
.maps {
    width:100%;
    height:500px;
}
.gm-style .place-card, .gm-style .default-card, .gm-style .directions-card {
   display:none !important;
}
.gm-style .place-card-large{
   display:none !important;
}
.profile-photo{
   display:none !important;
}
.backgroundImage {
    background-image: url("//www.edwards.usask.ca/img/banner/edwards_building.jpg");
}
.backgroundImageAboutUS {
    background-image: url("//www.edwards.usask.ca/img/aboutus/banner.jpg");
}
.backgroundImageCentres{
    background-image: url("//www.edwards.usask.ca/img/aboutus/centres.jpg");
}
.backgroundImage2 {
    background-image: url("//www.edwards.usask.ca/img/banner/careers.jpg");
}
.backgroundImage3 {
    background-image: url("//www.edwards.usask.ca/img/banner/chalkboard.jpg");
}
#facultyTables {
    margin-top:50px;
}
.noborder thead {
    background:#fff;
    color:#333;
    border:none;
}
.marquee {
    display: inline-block;
    background-size:cover;
    background-position: 50% 28%;
    background-repeat: no-repeat;
    background-attachment: unset;
    position:relative;
}
.main {
    min-height: 900px;
}
.overlay {
    background-color:rgba(0, 0, 0, 0.25);
    overflow:hidden;
    height:100%;
    background: url(data:;
   base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
   /* ie fallback png background image */
    z-index:0;
    color:white;
}
/* Makes Embedded Google Calendars responsive */
.responsiveCal {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.responsiveCal iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.marquee-small {
    display: inline-block;
    min-height: 300px;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    xbackground-attachment: fixed;
    background-size: cover;
    xposition:relative;
}
.marquee-medium {
    display: inline-block;
    min-height: 600px;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}
.arrow {
    position:absolute;
    bottom:0px;
    color:#eee;
    font-size:3em;
    left:50%;
    line-height:10px;
    vertical-align: top;
}
.socialIcons {
    text-align:right;
}
.socialIcons a {
    color:#333;
}
footer ul li a span i {
    color:#333;
}
.fa-stack:hover{
    color: #22BB5B;
    transition: 1.8s;
    transform: rotateY(360deg);
}
.fullScreen {
    width:100%;
}
.fullBanner {
    width:100%;
    padding:0px;
}
.fullBanner img {
    margin:0px !important;
}
/* Top Title Bar Styles */
.title-bar.smaller {
    height:55px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.title-bar {
    background-color:#fff;
   ;
    padding:0px;
    color:#fff;
    height:55px;
    border-bottom:1px solid #ccc;
}
.title-bar a {
    color:#fff;
}
.title-bar-left {
    xpadding-left:43px;
    height:inherit;
}
.title-bar .separator {
    border-left:1px solid #ccc;
    float:left;
    height:55px;
}
.big-h1 {
    color:#333;
    font-size:16px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 13px;
}


.shieldLogo img {
    height:60px;
    float:left;
    margin:5px 10px 0px 10px;
}
.title-bar-right {
    padding-top:15px;
    padding-right:20px;
    height:39px;
}
.title-bar-right ul{
    list-style-type: none;
}
.title-bar-right a {
    font-weight:600;
    color:#333;
    font-size:14px;
}
.title-bar-right a:hover {
    color:#84B541 ;
}
.title-bar-right a i {
    color:#84B541 ;
}
.headerLogo {
    xwidth:220px !important;
    padding-bottom:15px;
    padding-top:3px;
    x-webkit-transition: all 0.3s;
    x-moz-transition: all 0.3s;
    xtransition: all 0.3s;
}
.headerLogo.smaller {
    width:120px !important;
    padding-bottom:2px;
    padding-top:2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
td a img {
    margin: 0px !important;
    max-width: none;
}
td img {
    margin: 0px !important;
    max-width: none;
}
.table {
    display:table;
}
.table li {
    display:table-cell;
    padding-left:10px;
    font-family:"Open Sans";
}
table tbody tr:nth-child(even) {
    background-color:#f6f6f6;
}
/* End of Title Bar */
.border{
   border-left:1px solid #ddd;
}
.front-page a img {
   margin:0 auto;
   text-align: center;
   margin: 0 auto !important;
    width: 90%;
}
.front-page {
   margin:0px;
   padding-bottom:10px;
}
.mbsm-fp{
   font-weight:bold;
}
.removeMargins div{
   text-align:center;
}
.frontNewMentions {
   list-style-type:none;
   text-align:left;

}
.frontNewMentions li {
    padding-bottom:14px;
    line-height:24px;
}
.articleCaption {
   width:90%;
    text-align:center;
    margin:0 auto !important;
}
.thriveImage{
   float:left;
    wxidth:50%;
}
.thriveImageHalf{
   float:left;
    width:50%;
}
.thriveImageCaption{
   width:90%;
    text-align: center;
   margin: 0 auto;
   font-size:12px;
}
.marquee h1 {
    color:#fff;
    font-weight:900;
    font-family: 'Open Sans', sans-serif;
    font-size:3.5em;
    text-align:left;
    xpadding-bottom:16px;
    text-align:center;
    z-index:10;
}
.marquee h2 {
    color:#fff;
    font-size:2.2em;
    font-weight:600;
    text-align:center;
}
.text a, a.text,a span.text {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    margin-right: 10px;
    background-color: #84B541;
    border-color: #84B541;
    font-family: "Open Sans";
    text-transform: none;
    color: #fff !important;
    font-weight:bold;
    white-space:nowrap;
}
.text a i, a.text i, .menuitem a i, a.menuitem i {
    padding-right:4px;
}

.text:hover a, a.text:hover, a span.text:hover {
    color:#fff;
    background-color:#085c3e !important;
    border-color: #085c3e;
}
.menuitem a, a.menuitem, a span.menuitem {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    margin-right: 10px;
    color: #666 !important;
    background-color: #f9f9f9 !important;
    border-color: #ccc !important;
    border-bottom:1px solid #ccc !important;
    font-family: "Open Sans";
    text-transform: none;
    font-weight:bold;
    white-space:nowrap;
}
.menuitem:hover a, a.menuitem:hover, a span.menuitem:hover {
    color: #666;
    background-color: #e5e5e5;
    border-color: #adadad;
}
.button.large {
    font-size:1em;
}
.button.small {
    font-size:0.85rem;
}
.button45 {
   width:45%;
}
.button33 {
   width:30%;
}
#transCardWrapper {
    xline-height:83px !important;
    padding-top:100px;
}
.transCard {
    background-image: url("/img/webgraphics/transBK40.png");
    height:325px;
    vertical-align: middle;
    display:inline-block;
    border:0px solid #ccc;
    padding-top:10px;
    line-height:10px;
    width:100%;
}
.bigNumbers h1{
    font-size:4.3em !important;
    text-transform: uppercase;
    text-shadow: 2px 2px #333;
    color:#fff;
    font-weight:900;
    margin-bottom: 4px;
}
.bigNumbers h4{
    font-weight: 600 !important;
    font-size: 20px;
    text-shadow: 1px 1px #333;
}
.posterStyle {
    padding-bottom:0px;
}
.posterBanner {
    xpadding-top:120px;
    xpadding-bottom:55px;
}
#posterWrapper

{

    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    

}
.posterStyleMain {
    line-height: 3em !important;
}
.posterStyle h1{
    font-family:"Open Sans" !important;
    width:80%;
    margin:auto;
}
.centered {
    text-align:center;
}
.transAreas {
    margin-top:65px;
}
.ghostButtonList {
    list-style-type: none;
    line-height: 2em;
    padding-top:10px;
}
.ghostButtonListBanner {
    list-style-type: none;
    line-height: 2em;
    margin: 0px !important;
    text-align: center;
    padding-top: 44px;
}
.ghostButtonListBanner .ghostButton {
    font-size:inherit;
    min-width:200px;
}
.ghostButtonMenu {
    text-align:center;
    padding-top:40px;
}
.ghostButton {
    color:#fff !important;
    display:inline-block;
    font-size:28px;
    font-weight:600 !important;
    border:2px solid #fff;
    text-align:center;
    padding:15px 13px 16px 13px;
}
.content .ghostButton {
    font-size:14px;
    padding:11px 13px 12px 13px;
    border-radius:4px;
}
.content .ghostButton:hover {
    font-size:14px;
    padding:11px 13px 12px 13px;
    border-radius:4px;
}
.ghostButton a {
    color:#fff;
    font-weight:900;
}
.ghostButton:hover {
    background-image: url("//www.edwards.usask.ca/img/webgraphics/transBK40.png");
    font-weight:600 !important;
    padding:15px 13px 16px 13px;
}
.ghostButton.active {
    background-image: url("//www.edwards.usask.ca/img/webgraphics/transBK40.png");
    font-weight:600 !important;
    padding:15px 13px 16px 13px;
}
.ghostButtonList li {
    list-style-type: none;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    min-width:15%;
    margin-left:10px;
    margin-right:10px;
}
.mainBannerText {
    color:#fff !important;
    font-size:34px;
    font-weight:900 !important;
    border:4px solid #fff;
    text-align:center;
    padding:7px;
    padding-top:34px;
    vertical-align: middle;
}
.mainBannerText:hover {
    background-image: url("//www.edwards.usask.ca/img/webgraphics/transBK40.png");
    font-weight:900 !important;
    border:4px solid #fff;
    padding:7px;
    text-align:center;
    padding-top:34px !important;
}
.mainBannerList {
    list-style-type: none;
    line-height: 2em;
    margin-left:0px;
}
.mainBannerList li {
    list-style-type: none;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    width:22%;
    height:142px;
    margin-left:30px;
    margin-right:30px;
}
.small {
    color:#ddd;
    font-size:20px !important;
    font-weight:600;
    line-height:13px;
}
.double {
    width:44% !important;
}
.transCardGray {
    xbackground-image: url("/img/webgraphics/transBL80White.png");
    height:240px;
    vertical-align: middle;
    display:inline-block;
    border:0px solid #ccc;
    padding-top:30px;
    line-height:10px;
    width:100%;
    color:#000;
}
.transCardTitleGray {
    background-image: url("/img/webgraphics/transBK40.png");
    height:72px;
    vertical-align: middle;
    display:inline-block;
    border:0px solid #ccc;
    padding-top:5px;
    line-height:10px;
    width:100%;
}
.transCardTitle {
    xbackground-image: url("/img/webgraphics/transBL80White.png");
    xheight:72px;
    vertical-align: middle;
    display:inline-block;
    xborder:0px solid #ccc;
    padding-top:5px;
    line-height:10px;
    margin:0 auto;
   width:100%;
}
.transcardLeftGray {
    margin-bottom:10px;
    border-right:1px solid #777;
}
.marquee p{
    color:#111;
    text-align:left;
    padding-right:20px;
    font-weight:400;
}
.marquee a{
    font-weight:900;
    font-family:"Open Sans";
    color:#fff !important;
}
.marqueeSearchBox {
    padding-top:11px;
}
select{
    background-color:transparent;
    border:none;
    color:#fff;
    width:50%;
}
.Gray select {
    background-color:#fff;
    border:1px solid #000;
    color:#000;
    width:30%;
}
.mobileDropDown {
    position:absolute;
    top:-5px;
    left:27px;
}
/* Search Page Styles */
.search tbody {
    border:none;
    background:transparent;
}
.gsc-search-button input {
    display: inline-block !important;
    text-align: center !important;
    line-height: 1 !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    transition: background-color .25s ease-out,color .25s ease-out !important;
    vertical-align: middle !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    padding: .85em 1em !important;
    margin: 0 0 1rem !important;
    margin-right: 10px !important;
    background-color: #1e9327 !important;
    border:1px solid #a2c000 !important;
    font-family: "Open Sans" !important;
    text-transform: capitalize !important;
    color: #fff !important;
    font-weight:bold;
    white-space:nowrap;
    width:150px;
}
.gsc-input {
   width:100%;
    background:url('') !important;
}
.gsc-input input {
   background-color:#fff !important;
}
.gsc-branding {
   display:none;
}
.gsc-clear-button{
   display:none;
}
/* End Search Page Styles */
.bigSearch {
    background-color:transparent;
    width:75%;
    height:30px;
    display:inline;
    vertical-align: top;
    font-size:16px;
    font-weight:bold;
    margin-bottom: 0px !important;
    border:2px solid #FFF;
}
.top-bar-small {
   display:none;
}
.topMenu {
    background-color:#84B541 ;
    width:100%;
    color:#fff;
    height:50px !important;
    position:relative;
}
.topMenuWords.smaller {
    margin-top:-44px;
}
.topMenu ul {
    list-style-type: none;
}
.topMenu ul li {
    display:inline-block;
    padding-top:3px;
}
.topMenu ul li a{
    color:#fff;
    font-size:1.0em;
    padding:12px;
    font-size:14px !important;
    xtext-transform: uppercase;
    font-family:"Open Sans";
}
.dropdownMenu {
    background-image: url("/img/webgraphics/transBK40white.png");
    min-height:200px;
    border-bottom:1px solid #ccc;
}
.dropdownMenu ul {
    list-style-type:none;
    list-style-position: inside;
}
#mainMenu {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:50px;
    background-color:#8BC640;
}
#mainMenu i{
    font-size:1.4em;
    padding-top:10px;
}
.actionBanner {
    background-color:#eee;
    height:60px;
    color:#333;
    border-top:1px solid #eee;
    xpadding-top:15px;
}
.actionBanner .fa-stack {
   padding-top:5px;
}
.actionBanner h5{
    padding-top:15px;
    font-weight:400;
}
/* Media Mentions Styles */
.mentions {
    sborder:1px solid #eee;
    padding-bottom:30px;
}
.mentions img {
    float:left;
    width:190px;
   /*padding-top:10px;
    padding-right:10px;
   */
}
.mentionPic img {
    border-radius:5px;
   /*-webkit-clip-path: circle(25% at 23% 51%);
    clip-path: circle(25% at 23% 51%);
    */
}
.mentions p{
    font-size:0.85em;
}
.mentions h5 {
    padding-top:10px;
    font-weight:400;
}
/* End of Media Mentions Styles */
/* Fact Row Styles */
.factRow {
    width:100%;
    padding-top:50px;
    text-align:center;
    color:#fff;
}
.factRow h4{
    font-weight:bold;
    color:#fff;
}
.factRow h4 b {
    font-size:2em;
    color:#1e9327;
}
/* End of Fact Row Styles */
footer {
    padding-top:40px;
    text-align:center;
    border-top: 1px solid #ddd;
    font-size:0.8em;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    position:relative;
}
footer a {
    font-weight:400;
}
footer ul li {
    display:inline;
}
.footer-links a {
    font-weight:600;
    font-family:"Open Sans";
}
.uofs-footer-logo {
    display:inline-block;
    width: 130px;
    height: 39px;
    overflow: hidden;
    margin-right:17px;
    margin-left:10px;
}
.edwards-footer-logo {
    display:inline-block;
    width: 130px;
    height: 39px;
    overflow: hidden;
    margin-right:17px;
    margin-left:10px;
}
.contactMap {
    margin-top:63px;
    border:none;
}
/* Tabs Formatting */
.tabs {
    border:none;
    border-bottom:1px solid #e6e6e6;
}
.tabs-title {
    margin-bottom: -1px;
}
.tabs-title>a {
    font-weight:600;
    font-size:14px;
}
.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
    background:#fff;
    border-top:1px solid #e6e6e6;
    border-left:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    border-bottom:0px solid #e6e6e6;
}
/*End Tabs Formatting */

.mobileMenu li div ul li 
{padding-bottom:15px;}


.accordion {
    border:none;
    clear:both;
    background:none;
}
.accordion-title {
    border:none;
    font-size:19px;
    border-bottom:1px solid #ddd;
    xbackground-color:#fff;
    background-color:inherit;
    color:#84B541;
    padding: 1.25rem 1rem 1rem 2rem;
}
.accordion-title:before {
    top:55%;
    left: 10px;
    content: "\f054";
    font-family: FontAwesome;
    font-size:14px;
}
.is-active>.accordion-title:before{
    left: 10px;
    content: "\f078";
    font-size:14px;
}
.accordion-title:focus {
    background-color:#fff;
    color:#84B541;
}
.is-active, .is-active:hover {
    border:none !important;
    border-bottom:1px solid #bbb;
    xbackground-color:#fff;
}
.accordion-title:hover {
    border:none;
    font-size:19px;
    xfont-weight:bold;
    border-bottom:1px solid #ddd;
    
    background-color:#fff;
}
/* Constant Contact Inline Forms Override Styles */
.ctct-form-field {
   width:49% !important;
   display:inline-block !important;
}
.ctct-form-embed.form_0 .ctct-form-defaults {
   background-color:transparent !important;
}
.ctct-gdpr-text {
   text-align:center !important;
}
/* END Constant Contact Inline Forms Override Styles */
.is-active a {
    border-bottom:none;
   
}
.accordion-title {
   background-color:inherit !important;
}
.accordion-content table {
    float:none;
    width:100% !important;
}
/* Column Styles */
.columnsRow {
   overflow:auto;
}
.columnsDiv33 {
    width: 28%;
    margin-right: 37px;
    float: left;
}
.columnsDiv50 {
    width:44%;
    margin-right: 37px;
    float:left;
}
.columnsDiv25 {
    width:20%;
    margin-right: 37px;
    float:left;
}
.clear{
    float:left;
    width:100%;
}
.circle {
    -webkit-clip-path: circle(23% at 37% 21%);
    clip-path:circle(23% at 37% 21%);
}
/* Warning Styles */
div.panel.callout {
    background: #fff;
    border-color: #52add1;
    xtext-align: left !important;
    color: #52add1;
}
/* End of Warning Styles */


/* Front Page Code */
.removeCenter div {text-align:unset !important;}
.xyz
{
    background-color:#333;
    color:#fff;
}
.xyz h2 {
    text-align:center;
    font-weight:bold;
}
.xyz  a
{
color:#fff;
}
.xyz li {color:#84B541;}
.xyz  a:hover
{
    text-decoration: underline;
color:#fff;
}

.fancy-footer-title
{
    width:100%; text-align:center; border-bottom: 1px solid rgb(255 255 255 / 42%); line-height:0.1em; margin:10px 0 28px;margin-bottom:40px;
   
}
.footer {padding-top:43px !important;}
.footer h2 {font-size:19px !important;}
.footer h3{font-weight:bold;font-size:14px !important; line-height:8px;}
.footer p {font-size:13px !important;}
.footer a:hover {color:#fff;}
.fancy-footer-list {
    list-style:none;
}
.fancy-footer-list li a
{
font-weight:300;
font-size:14px;
}
.fancy-footer-title span{
    padding:0 10px;
  background-color:#84B541;
}

.eventList
{
list-style:none;
margin-left:15px;
}
.eventItem
{
    border-bottom:1px solid #ddd;
    margin-top:25px;
}
.eventItem a
{
font-weight:900;
}
.eventItem h3
{
font-weight:600;
font-size:18px !important;
}
.eventItem h4
{
font-weight:600;
font-size:14px !important;
}
.eventItem p{
    font-size:14px;
}

.lines-6 span:after,
.lines-6 span:before {
    width:50%;
}
 .lines-2 span:after,
 .lines-2 span:before
{
    width:80px;
}

.lines-2 {margin-bottom:29px !important;}
.footerButton{
   
    font-size: 12px;
    border: 1px solid rgb(255 255 255 / 42%);
    padding: 5px;
    margin:3px;
    background: #1e9327;
    border: 1px solid #1e9327;
    border-radius: 3px;
    font-weight: 600 !important;
    line-height: 35px;
    white-space:nowrap;
}

/* Sticky Anchor Menu */
.sticky-wrapper {
   xheight:48px !important;
}
.newsanchor {
    padding-top:220px;
    margin-top:-220px;
}
.anchorMenuSmall {
   display:none;
}
.anchorMenuSmall select{
    background-color: transparent;
    border: none;
    color: #111;
    width: 100%;
    text-align: center;
    background-image: none;
    text-align-last: center !important;
}
.anchorMenu {
    xheight: inherit;
    background-color: #fafafa;
    border-top:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
    text-align:center;
    xpadding-bottom:45px;
    z-index:1000;
}
.anchorMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.anchorMenu li {
    display:inline-block;
    xborder-right:1px solid #f3f3f3;
}
.anchorMenu li:hover, .anchorMenu a:hover {
    background-color:#e9e9e9;
    color:#000 !important;
}
.anchorMenu li:last-child {
    border-right: none;
}
.anchorMenu a {
    padding:11px;
    display:block;
    color:#666;
}
.anchorMenu .selected {
    background-color:#f5f5f5;
}
/* End Sticky Menu */
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px !important;
    line-height: 1.5 !important;
    color: #4d4d4d !important;
}
/* Faculty Page Styles */
.faculty {
    padding-top:100px;
}
.faculty h1, .faculty h2 {
    text-align:left !important;
}
.faculty p {
    color:#fff;
    text-align:left;
}
/* End Faculty Page Styles */
.downtown{
   display:none;
}
/* Class Updates Page Styles */
.classUpdates {
    -moz-column-count: 2;
    column-count: 2;
}
.classUpdates p {
    padding-bottom:15px;
    border-bottom:1px solid #eee;
    display:inline-block;
    font-size:14px;
}
.classUpdates img {
   width:20%;
    min-width:100px;
    float:left;
}
.classUpdates span {
}
/* End of Class Updates */
/* News for the University stuff */
figure {
   margin:0;
   margin-bottom:20px;
    max-height:200px;
    overflow:hidden;
}
.uofs-figure{
   max-height: none;
    text-align: center;
}
.uofs-figure img{
   margin:0px !important;
    max-width:100%;
}
.mbsm {
    margin-bottom:12px;
    font-weight: 600 !important;
    font-size: 23px !important;
    letter-spacing: -0.5px !important;
    line-height: 1.3 !important;
}
.mblg img {
   margin:0px !important;
}
.edwards-padding{
   padding-top:50px;
}
.uofs-media-row h6 {
    color:#999;
    letter-spacing: 1px;
    display:none;
}
.uofs-media-row .large-4 {
    padding-left:40px;
    padding-right:40px;
}
.uofs-page-title{
   font-size:45px !important;
    line-height:1.1;
    letter-spacing: -2px;
    font-weight:700 !important;
   text-align:center;
}
.pblg-lg {
   padding-bottom:60px;
}
.uofs-figure>figcaption {
    font-size: 12px;
    color: #a6a6a6;
    line-height: 18px;
    margin-top: 6px;
    text-align:center;
}
.edwards-author {
   text-transform: uppercase;
   color:#666 !important;
   font-weight:900;
}
.uofs-article-section-head {
    border-bottom: 1px solid #ccc;
    margin-bottom:60px;
}
.figcaption {
   display:block;
}
.uofs-article-date{
   text-align:center;
    font-size:18px;
   color:#a6a6a6;
   margin-bottom:50px;
}
.lead {
   text-align:center;
    font-size:20px;
    color:#888;
}
.old-news {
   margin-top:80px;
}
.newsList li a{
   font-weight:900;
    letter-spacing: 0.2px;
}
.newsSmallText {
   font-size:90%;
}
.newsList {
   list-style-type: none;
}
.edArticle a img {
   margin:0px !important;
    width:100%;
}
.faculty {
    padding-top:100px;
}
.faculty h1, .faculty h2 {
    text-align:left !important;
}
.faculty h1 {
    font-size: 2.2em !important;
}
.faculty h2 {
    font-size: 1.4em !important;
}
.faculty p {
    color:#fff;
    text-align:left;
}
/* End News Test Styles */
.carousel_slick {
    xheight:600px;
    width:auto;
}
@media only screen and (max-width: 1550px) {
    .mentions h5 {
       clear:both;
   }
    .marquee h1 {
       font-size:35px !important;
   }
    .small {
       font-size:15px !important;
   }
    .faculty h1 {
        font-size: 2.2em !important;
   }
    .faculty h2 {
        font-size: 1.4em !important;
   }
    .faculty {
        width: 45%;
   }
    .small {
       display:none !important;
   }
}
@media only screen and (max-width: 1280px) {
    body {
        font-size:1em;
   }
    .featureBox {
       width:initial;
   }
    .posterStyle h1{
       font-size:45px !important;
   }
    .posterStyle h2{
       font-size:24px !important;
   }
    .bkgroundTest {
       background-size:1280px;
   }
   /* Main Page Banner */
    .mainBannerText {
       font-size:33px !important;
   }
   /* End of Banner */
    .topMenu ul li {
       padding-top:2px;
   }
    .topMenu ul li a{
        font-size:0.7em;
   }
    .top-bar-left ul 
   /* Moves the menu left for more room */
    {
        padding-left:0px;
   }
    .xsticky-wrapper{
       height:48px !important;
   }
    .transAreas {
       margin-top:10px;
   }
    .mainBannerList li {
       width:28%;
        margin-left:12px;
        margin-right:12px;
   }
    .socialIcons {
       padding:10px;
   }
    .xmarquee{
       min-height:650px;
   }
    .actionBanner h5 {
       font-size:16pxem;
       padding-top:11px;
   }
    .actionBanner a {
       font-size:19px;
   }
    .xactionBanner {
       height:39%;
   }
    #mainMenu {
       width:37px;
   }
    #mainMenu i{
       font-size:1.0em;
       padding-top:7px;
   }
    .topMenu {
       height:30px;
   }
    .fa-lg{
       font-size:0.9em !important;
   }
    .content h1{
       font-size:2rem;
   }
    .content p{
       xfont-size:0.7rem;
   }
    .content h5 {
       font-size:1em;
   }
    .mentions h5 {
       clear: both;
   }
    .xmentions img{
       width:80px;
   }
    .marquee-small h4{
       font-size:1.0rem;
   }
    .marquee-small h5{
       font-size:0.8rem;
   }
    .marquee-small{
       min-height:150px;
   }
    .featureBox h4 {
       font-size:13px;
   }
    .faculty h1 {
        font-size: 2.2em !important;
   }
    .faculty h2 {
        font-size: 1.4em !important;
   }
    .faculty {
        width: 45%;
   }
}
@media only screen and (max-width:1150px) {
    .Grad2020 {
        color:#FFF;
        font-weight:900;
       font-size:70px;
        padding-bottom:40px;
       text-shadow: 5px 5px 18px #222;
   }
    .Grad2020IMG {
       width:50%;
       padding-top:25px;
       padding-bottom:50px;
        background: unset;
   }
    .Grad2020Banner .left {
        font-weight:bold;
        float:unset;
        margin:unset;
        padding:unset;
   }
    .Grad2020Banner .right {
        font-weight:bold;
        float:unset;
        margin:unset;
        padding:unset;
   }
    .Grad2020Banner a{
        width:500px;
        font-size:20px;
   }
}
@media only screen and (max-width: 1100px) {
    .menu .button {
        display:none;
   }
    .actionBanner h5 {
       font-size:16px;
   }
    .mainBannerText {
       font-size:24px !important;
   }
}
@media only screen and (width: 1024px) {
    .hide-for-large {
       display:block !important;
   }
    .allmentions{
       text-align:center !important;
        width:100%;
   }
    .border{
       border-left:none;
        width:100%;
   }
    .show-for-large .allnews{
       display:none !important;
   }
    .show-for-large .allmentions{
       display:none !important;
   }
    .faculty h1 {
        font-size: 2.2em !important;
   }
    .faculty h2 {
        font-size: 1.4em !important;
   }
    .faculty {
        width: 50%;
        float: left;
   }
   /* Styles for the scroller */
    .slick-slider {
       height:269px !important;
   }
    .slick-slide {
       min-height:400px;
       height:400px !important;
   }
    .slick-slide p{
       padding-left:10px;
   }
    .slick-slide h3{
       padding-left:10px;
   }
}
@media only screen and (max-width: 1025px) {
    .backgroundImage {
       min-height:600px !important;
   }
    .xmarquee {
       height:473px;
   }
    .posterStyle h1{
       font-size:44px !important;
   }
    .posterStyle h2{
       font-size:24px !important;
   }

    .bigNumbers {
       width:25%;
   }
    .colShuffle {
       width:50%
   }
    .allmentions{
       text-align:center !important;
        width:100% !important;
   }
    .faculty h1 {
        font-size: 2.2em !important;
   }
    .faculty h2 {
        font-size: 1.4em !important;
   }
}
@media only screen and (max-width: 875px) {
   /* Main Page Banner */
    .googleMap {
       height:300px;
   }
    .xmarquee h1 {
       font-size:30px !important;
   }
    .topMenu{
       padding-top:5px;
   }
    .topMenu button{
       background:none;
        margin:0px;
   }
    .topMenu button:hover{
       background:none;
   }
    .topMenu button:focus{
       background:none;
   }
    .dropdown.menu>li.is-dropdown-submenu-parent>a {
        padding-right: 1.0rem;
        font-size:13px !important;
   }
    .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
        display:none!important;
   }
    .small {
       font-size:15px !important;
   }
    .mainBannerText {
       font-size:24px !important;
   }
   /* End of Banner */
    .titleSpacer {
       margin-left:10px !important;
       margin-top:10px !important;
       margin-bottom:125px;
   }
}

@media only screen and (max-width: 629px) {
    .big-h1{
        color:#333;
        font-size:8px;
        font-weight: 600;
        padding-top: 15px;
        padding-left: 13px;
    }

    /*.small-h1{*/
    /*    display: block;*/
    /*}*/
}

@media only screen and (max-width: 775px) {

    .titleSpacer {
       margin-bottom:0px !important;
   }
    .featureBox h4{
        font-size:15px;
        width:100%;
        white-space:normal;
        top:90px;
        left:0px;
        text-align:center;
   }
    .allmentions {
       width:90%;
       text-align:center !important;
   }
    .border{
       border:none;
   }
   /* Main Page Banner */
    .slide-bar {
        background-color:#fff !important;
        border-right:1px solid #ccc;
        border-bottom:1px solid #ccc;
   }
    .slide-bar h3 {
        color:#666;
        font-weight:900;
        font-size:20px;
        margin-left:10px;
        padding-bottom:10px;
        padding-top:14px 
   }
    .slide-bar-divider {
        border-bottom: 1px solid #ddd;
   }
    .slide-bar ul {
       list-style-type: none;
       margin-left:0px;
   }
    .text, .menuitem {
        width:90% !important;
        margin-left:10px !important;
   }
   /* Get rid of top Nav - Make it small */
    .top-bar-small{
       display:block;
   }
    .top-bar{
       display:none;
   }
    .marquee h1 {
       xfont-size:28px !important;
   }
    .posterStyle h1{
       font-size:39px !important;
   }
    .posterStyle h2{
       font-size:24px !important;
   }
    .small {
       font-size:13px !important;
   }
    .mainBannerText {
       font-size:20px !important;
   }
   /* End of Banner */
    .actionBanner h5 {
       font-size:13px;
        font-weight:600;
       padding-top:20px;
   }
    .socialIcons {
       padding-top:7px !important;
   }
    .mentionPic {
       clip-path: none;
       -webkit-clip-path:none;
   }

    .colShuffle {
       width:50%;
   }
    .faculty h1 {
        font-size: 2.2em !important;
   }
    .faculty h2 {
        font-size: 1.4em !important;
   }
}
@media only screen and (max-width: 680px) {
    .Grad2020 {
        color:#FFF;
        font-weight:900;
       font-size:50px;
        padding-bottom:40px;
       text-shadow: 5px 5px 18px #222;
   }


    .Grad2020IMG {
       width:70%;
       padding-top:25px;
       padding-bottom:50px;
        background: unset;
   }
    .Grad2020Banner .left {
        font-weight:bold;
        font-size:25px;
        float:unset;
        margin:unset;
        padding:unset;
   }
    .Grad2020Banner .right {
        font-size:25px;
        font-weight:bold;
        float:unset;
        margin:unset;
        padding:unset;
   }
    .Grad2020Banner a{
        width:100px;
        font-size:20px;
   }
    table, thead, tbody, th, td, tr {
        
   }
   table tr td {font-size:13px;}

    td img {
       margin:none !important;
        max-width:100% !important;
   }
    .frontPageBanner{
       background-position-y: 0px;
   }
    .columnsDiv50 {
       width:100%;
   }
    .columnsDiv33 {
       width:100%;
   }
    .columnsDiv25 {
       width:100%;
   }
    .colShuffle {
       width:49%
   }
    .featureBox h4 {
       top:80%;
   }
    div.marquee{
        background-position: 50% 0%;
   }
    p iframe {
       width:100% !important;
   }
   /* Get rid of sticky menu, make the select show */
    .anchorMenu {
       display:none;
   }
    .sticky-wrapper{
       display:none;
       height:48px !important;
   }
    .anchorMenuSmall {
       display:none;
   }
    .title-bar-right {
        display:none;
   }
    .mainBannerText{
       font-size:18px !important
   }
    .top-bar {
        display:none;
   }
    .faculty h1 {
        font-size: 2.2em !important;
   }
    .faculty h2 {
        font-size: 1.4em !important;
   }
    .faculty {
        width: 100%;
        padding-top:227px;
   }
   /* For Front Page News */
}
@media only screen and (max-width: 640px) {
    #posterWrapper {
        padding-top:0px;
   }
    .clearfix{
       display:none !important;
   }
    .bkgroundTest {
       background-size:640px;
   }
    .xmarquee {
       height:300px !important ;
   }
    .searchBox {
       display:none !important;
   }
    .maps img {
       display:none;
   }
    .maps .contactMap {
       margin-top:0px !important;
   }
    .maps {
       height:inherit !important;
   }
    .arrow {
       display:none;
   }
    #transCardWrapper{
       padding-top:70px;
   }
    .backgroundImage{
       min-height:760px !important;
   }
    .marquee h1 {
        padding-bottom:20px;
   }
    .bigNumbers h1 {
       padding-bottom:0px;
   }
    .actionBanner {
        min-height:50px;
   }
    .actionBanner .fa-stack {
        padding-top: 5px;
   }
    .fa-lg {
        font-size: 18px !important;
   }
    .transCardTitle {
       height: auto;
   }
    .mainBannerText{
       font-size:18px !important
   }
    .mainBannerText:hover {
       padding-top:0px !important;
   }
    .mainBannerList {
       margin-bottom:0px !important;
   }
    .mainBannerList li {
        width:80%;
        height:80px;
        margin:0px;
        margin-bottom:7px;
        padding-bottom:11px;
        padding-top:9px;
   }
    .mainBannerList li:hover {
        width:80%;
        margin:0px;
        margin-bottom:7px;
        padding-bottom:11px;
        padding-top:9px !important;
   }
    x.small{
       display:none;
   }
    .bigNumbers{
       width:100%;
   }
    .removeMargins {
        margin:0px !important;
   }
    .mentionPic{
        clip-path:none;
        -webkit-clip-path: none;
   }
    .mentionPic img {
        width:100%;
        margin:0px;
   }
    .mentions {
        border-bottom:1px solid #e6e6e6 !important;
        padding:0px;
        padding-bottom: 10px;
        overflow:hidden;
        padding-top: 10px;
   }
    .mentions p {
       display:none;
   }
    .mentions h5 {
       font-size:20px;
        font-weight:600;
        text-align:center;
   }
    .socialIcons{
       text-align:center;
   }
}
.dropdown {
    padding-left:280px;
   /* 150px */
    padding-top:4px;
}
.is-dropdown-submenu-parent {
    color: #666;
    font-size: 0.9em;
    font-weight: 600;
    font-family: "Open Sans";
}
.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    color:#84B541 !important;
    font-weight:300;
}
.dropdown.menu>li.opens-right>.is-dropdown-submenu {
    right: auto;
    left: 8px;
    top: 46px !important;
    background-color: #fff;
    padding-top: 10px;
    width:270px;
}
.is-dropdown-submenu-parent a:after {
    right:10px !important;
}
.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: #fff transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 5px;
    margin-top: -2px;
}
.applyButton {
    padding:0px !important;
    margin:0px !important;
}
.menu a button {
    margin-right:10px;
    margin-top:2px;
    background-color:#1e9327 !important;
    font-family: "Open Sans";
    text-transform:capitalize;
    height:40px !important;
}
.divider {
    height:1px;
    margin:11px 0;
    overflow:hidden;
    background-color:#e5e5e5;
    padding:0px !important;
}
.is-dropdown-submenu-item a {
    color:#4d4d4d !important;
    text-align:left;
    font-family:"Open Sans";
    xtext-transform:capitalize;
    white-space:nowrap;
    font-weight:400;
    padding:0px !important;
    line-height:2 !important;
}
.vertical li a {
    color:#4d4d4d !important;
    text-align:left;
    font-family:"Open Sans";
    xtext-transform:capitalize;
    white-space:nowrap;
    font-weight:400;
    padding:0px !important;
    line-height:2 !important;
}
.is-dropdown-submenu-item {
    padding:6px 0px;
    padding-left:10px;
    padding-right:10px;
}
.is-dropdown-submenu-item:hover {

    background:#ebe8e8;
}
.is-submenu-item p {
    color:#afaeae !important;
    text-align:left;
    text-transform:uppercase;
    font-weight:bold;
    font-family:"Open Sans";
    font-size:12px;
    margin:0 !important;
}
@media only screen and (max-width: 575px) {
    .youtube {
        width: 100%;
        height: 230px;
        margin: 0 auto;
        text-align: center;
        position: relative;
   }
    .backgroundImage{
       min-height:760px !important;
   }
    #posterWrapper {
        padding-top:0px;
   }
    .posterBanner {
       xpadding-top:50px;
   }
    .bigNumbers h1 {
       line-height:35px;
   }
    .posterStyleMain{
       line-height:70px !important;
   }
   .mc-field-group {
    width:100% !important; 
     
 }
 table tr td {text-align:center;}
 table tr td strong img {float:unset !important;}
 table tr td img {float:unset !important;}
 
}
@media only screen and (max-width: 470px) {
    .transCardTitle h1 {
       font-size:32px !important;
   }
}
@media only screen and (max-width: 450px) {
 
    .allmentions {
       width:90% !important;
   }
    .background-position-y:1px;
    .ghostButtonListBanner {
        padding-top:0px;
   }
    .ghostButton{
       margin-bottom:10px;
   }
    .colShuffle {
       width:100%;
   }
.Standard
{margin-top:0px;}


}
@media only screen and (max-width: 450px) {
    .titleSpacer h1 {font-size:48px !important;text-align:center;}
.titleSpacer h2 {font-size:35px !important;text-align:center !important;}
    .Grad2020 {
        color:#FFF;
        font-weight:900;
       font-size:40px;
        padding-bottom:40px;
       text-shadow: 5px 5px 18px #222;
   }
   .accordion-content ul li{line-height:1.8em !important;}
    .Grad2020IMG {
       width:90%;
       padding-top:25px;
       padding-bottom:50px;
        background: unset;
   }
    .Grad2020Banner .left {
        font-weight:bold;
        font-size:25px;
        float:unset;
        margin:unset;
        padding:unset;
   }
    .Grad2020Banner .right {
        font-size:25px;
        font-weight:bold;
        float:unset;
        margin:unset;
        padding:unset;
   }
    .Grad2020Banner a{
        width:100px;
        font-size:15px;
   }
    .googleMap {
       display:none;
   }
    .Standard p img {
       width:100%;
   }
    .facBanner {
       background-position:0% 150px !important;
        height:650px !important;
   }
    .mainBannerList {
       margin-bottom:0px !important;
   }
    .backgroundImage{
       min-height:776px !important;
   }
    .uofs-footer-logo{
       margin-left:0px;
   }
    .footer-social{
       margin-left:0px;
       padding-left:11px;
   }
    .footer-links{
       margin-left:0px;
   }
    table, thead, tbody, th, td, tr {
        display: block;
   }
    div.marquee {
       background-size:cover;
   }
    td img {
       margin:none !important;
        max-width:100% !important;
   }
    .faculty h1 {
        font-size: 2.2em !important;
   }
   /* Styles for the scroller */
    .slick-slide{
       height:auto !important;
   }
    .wordsDiv {
       width:100% !important;
   }
    .imgDiv {
       width:100% !important;
       min-height:250px;
   }
    p iframe {
       width:100%;
       height:206px;
   }
    .posterStyle h1{
       font-size:34px !important;
   }
    .posterStyle h2{
       font-size:24px !important;
   }
    .bigNumbers h1{
        padding-bottom: 0px;
        margin-bottom: 0px;
   }
    .posterStyleMain{
       line-height: 35px !important;
   }
    .factRow .ghostButtonList .ghostButton {
       width:90%;
   }
    .front-page{
       padding-bottom:14px;
        padding-top:21px;
   }
    .front-page a img {
       width:100%;
   }
    .faculty h2 {
       font-size: 1.4em !important;
   }
    .faculty {
       width: 100%;
   }
    .gsc-input{
       width:99%;
   }
    .gsc-search-button{
       position:absolute;
        top:100px;
        left:59px;
   }
    .singleEvent{
       padding-left:0px;
        padding-bottom:8px;
        border-right:0px;
       border-bottom:1px solid #333;
        margin-bottom:19px;
   }
    .events{
       border-bottom:0px;
       padding-bottom:0px;
   }
    .last{
       border:0px;
   }
    .content img {
       margin:0px !important;
   }
}
