h2 {font-weight: 700 !important;}
.uofs-footer-logo, .edwards-footer-logo {overflow:inherit;}
.searchBox {text-align: center;}
.fa-arrow-circle-left {color:#fff;}
.fa-arrow-circle-right {color:#fff;}
.Gray select {width:100%;}
.myText p {font-size:140px }
.myText h2 {font-size:23px;}
.myText h3 {font-size:20px;}
    .factRow h1 {font-size:41px !important; font-weight:900; color:#fff !important;}
    .factRow h2 {font-size:30px !important; font-weight:900; color:#fff !important;}
    .greenText {color:#096a47 !important; font-size:60px;text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
    .factRow .text {font-size:20px;padding-left:30px; padding-right:30px;margin-left:20px; margin-right:20px;}
    .mapTooltip {border:1px solid #333; max-width:400px !important;}
    .marquee h2 {
        color: #fff;
        padding-top: 23px;
        padding-bottom: 23px;
        font-size: 20px !important;
        
         text-align: left !important; 
    }
    .allnews {float:right;}
    .contactText {float:left;padding-left:30px;}
    .posterStyle h1 {width:100% !important; margin:unset !important;}
    .overlay {padding-top:50px; padding-bottom:25px; padding-left:20px;padding-right:20px;background-color: rgba(0,0,0,.45);}
    .overlay h1 {padding-bottom:20px;}
.researchButton{
    border:1px solid #ccc;background-color: #fff !important;margin-right:50px; box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%) !important;border-radius: 7px 7px 7px 7px; transition: 0.3s; min-height: 212px !important;
    float:unset;display: inline-block;margin:10px;max-width:500px;
}

.newsButton {float:right;margin-top:30px;}
    .Standard {padding-bottom:0px;padding-top:0px;}
    .thrive{padding-left:75px;}
    .thrive a:hover {color:#fff;}
    .thrive .linkButton:hover {background-color:#1e9327; border-radius:5px;}
    .linkButton h3 {font-weight:900; text-transform:uppercase;}
    .linkButton h4 {font-size:14px !important;font-weight:normal; padding-bottom:5px;}
.content img {margin:0px !important;}
    .content h1 { margin-bottom:15px;padding-top:25px; }
    .frHeader {border-top:1px solid #ccc; padding-top:15px;font-size:42px !important;}
    .marquee-small {background-size:auto; padding-bottom:0px;}
    .separator h1 {margin-top:0px !important;}
    .topMenu {displayx: none;}
    .Green{padding-top:5px !important;}
    .thrive{text-align:center;padding-top:10px;padding-bottom:10px;}
    .thrive a i{font-size:55px;padding-bottom:10px;padding-top:10px;}
    #BQ{position:relative;}
    #BQ .slick-slide{background:none !important;margin-right:0px!important;box-shadow:none !important;border-radius:0px!important;position:relative;}
    #BQ .slick-slide h3 {text-align:left; margin-top:0px;letter-spacing:0.3px;}
    #BQ .slick-track {height:auto;padding-bottom:20px;}
    .slick-list { overflow:hidden !important;}
.accordianImage {width:33%;float:right;margin-left:30px;margin-top:20px;min-width:350px;}
    #featured .slick-slide{background:none !important;margin-right:0px!important;box-shadow:none !important;border-radius:0px!important;position:relative;}
 #featured h1 {font-size: 49px !important;font-weight: 900; text-transform: uppercase;color: #FFF;margin-bottom:5px;margin-top:33px !important;}
 #featured h2 {font-size: 30px !important;font-weight: 900; text-transform: uppercase;color: #666;padding-bottom:16px;}
 #featured p {font-size:15px; color:#111; width:93%;line-height:22px;}
 #featured .slick-track {height:auto;padding-bottom:20px;}
    .imgDiv {height:285px;width:285px; margin-left:307px;border:20px solid #096a47;margin-top:3px; border-radius:350px;background-color:#fff; padding:10px;
        background-size:auto; background-position-x:-19px;background-position-y: -2%; background-repeat:no-repeat; }
    
    blockquote{quotes: "\201C""\201D""\2018""\2019"; border:0px; padding:0px;margin:0px;  position: relative; }
    blockquote h3 {line-height:1.3 !important; font-style: italic;}
    blockquote h3:before { 
        content: open-quote;
        font-weight: bold;
        padding-right:5px;
        font-size:30px;
        color:#fff;
        font-family: Georgia, "Times New Roman", Times, serif;
        xposition: absolute; 
        xtop: 0;
        xleft: 0; 
    } 
    blockquote h3:after { 
        content: close-quote;
        font-weight: bold;
        font-size:30px;
        color:#fff;
        padding-left:5px;
        font-family: Georgia, "Times New Roman", Times, serif;
        xposition: absolute; 
        xbottom: 0;
        xright: 0; 
      
    }
        .wordBubble{
        color: #fff;

        width: 58%;
        height: auto;
        min-height: 150px;
        text-align: left;
        position: absolute;
        right: 94px;
        border-radius: 15px;
        padding: 23px;
        padding-top: 40px;
        }
        .wordBubble h3{color: #fff;
            font-size: 36px !important; font-weight:900 !important;}
            .BQTitle
            {
                color: #fff;
               
                bottom: 135px;
                font-size: 25px;
                /* border-top: 1px solid #bbb; */
                padding-top: 20px;
                /* border-bottom: 1px solid #bbb; */
                right:90px;
                text-align:left;
            }
    .articles{color: #fff;
        position: absolute;
        width: 47%;
        top: 250px;
        border-top: 1px solid #bbb;
        padding-top: 20px;
        border-bottom: 1px solid #bbb;
        right: 90px;}
        .articles p {color:#fff; font-weight:600; font-size:14px;}
        .slick-prev{
            position: absolute;
            left: 10px;
            top: 50%;
            font-size: 40px;
            z-index:10000;
        }
        .slick-next
{
    position:absolute;
    right:10px;
    top:50%;
    font-size:40px;
}
.xBigQuestion {padding-top:0px;min-height:625px;}
.infoGIMG{width: 300px;
    margin: 0px !important;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;}
.sticky
{
    left:0px;
    top:0px;
}
    
.contactPic img {
    border-radius:150px;
    padding:20px;
    background-color:#096a47;
    float:left;
    margin-left:20px;
}

         .infographic {text-align:center;}
    .infographic h1 {    font-size: 70px !important;
        margin-top: 0px !important;
        margin-bottom: 0px;
        background-color: #096a47;
        padding-top: 60px;padding-bottom: 60px;
        border-radius: 157px;
        color: #fff;}

        
        .infographic h2 {
            font-size: 17px !important;
    margin-top: 18px !important;
    color: #111;
        }

        .infographicalt h1 {background-color: #666;} 


        @media only screen and (max-width: 1650px) {
        .wordBubble {width:50%;}

        }

        @media only screen and (max-width: 1441px) {
            .infographic h1, .infographicalt h1
            { padding-top: 43px;
            padding-bottom: 43px;
            border-radius: 157px;
            padding-left:0px;
            padding-right:0px;}
            .slick-slide img {padding-top:60px;}
        }
        @media only screen and (max-width: 1350px) {
            .slick-slide img {padding-top:100px;
                }
                .imgDiv {margin-left:200px;} 
        }

        @media only screen and (max-width: 1300px) {

.fImage{float:left;width:45%}
.contentCol {width:45%;float:left;}
.accordianImage {float:unset;width:50%;}
.accordianContainer {text-align:center;}
        }
        @media only screen and (max-width: 1150px) {
           .imgDiv {margin-left:100px;}
           .wordBubble {width:55%;}
           .wordBubble h3 {font-size:25px !important;}
            .infographic h1, .infographicalt h1 {padding-top:25px; padding-bottom:25px;}
            #featured p {font-size:12px !important;}
            .thrive {width:42%;}
        
        
                    }


                    @media only screen and (max-width: 1025px){
    .xBigQuestion h1 {font-size:30px !important;}
    .imgDiv{    height: 100px;
        width: 245px !important;
        margin: 0 auto !important;;
        /* margin-right: 0px !important; */
        width: 50%;
        /* margin-left: 190px; */
        border: 27px solid #096a47;
        border-radius: 350px;
        background-color: #fff;
        padding: 10px;
        background-size: 80%;
        background-position-x: 16px;
        background-position-y: -5%;
        background-repeat: no-repeat;
        float:unset !important;
    
    }
        .wordBubble{   
            color: #fff;
            width: 100%;
            height: auto;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            position: absolute;
            /* right: 94px; */
            top: unset;
            /* display: none; */
            border-radius: 15px;
            padding: 23px;
            padding-top: 28px;left:0px;}
         .wordBubble blockquote h3 {font-size:35px !important;text-align: center !important;}
           .BQTitle { font-size:19px; text-align:center; right:0;top:237px; width:100%;}
           .articles {width:40%;top:320px; right:12px;}
           .BQContainer {height:auto;}
    .imgDiv { height:250px;}
}


        @media only screen and (max-width: 1024px) {
.large-offset-6 {margin-left:0px !important;}
.large-6{width:100%;}
            .infographic h1
            {
                font-size:42px !important;
                padding:32px;
                padding-top:41px;
                padding-bottom:45px;
                xwidth:50%;
            }

            .slick-list {overflow:unset !important;height:600px;}

            #mainB .slick-arrow{color:#fff !important;top:50%;}
            #mainB .slick-prev {left:10px;}
            #mainB .slick-next {right:10px;}
            #mainB .slick-list {overflow:  hidden !important;}
            .mainBannersOverlay {width:100%; padding-left:0px;}
            .infographic h2{
    font-size:15px !important;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
            }
    .Standard h1{text-align:center !important; font-size:27px !important}
    .Green h1 {text-align:center !important;font-size:27px !important}
    .Gray h1 {text-align:center !important;font-size:27px !important}
    .posterBanner h2,h1,p{text-align:center !important;}
    .thrive {padding-left:10px;padding-right:10px;}
    .thrive .linkButton {text-align:center;}
    .fImage { padding-right:0px; }
    #featured h1 {font-size:30px !important; }        
    #featured h2 {font-size:25px !important; }     
    #featured p {font-size:12px !important; padding-left:10px; padding-right:10px; width:100%;}  
    .slick-prev {top:18%;left:0px;} 
    .slick-next {top:18%;right:-7px;}
    
    .BQContainer{height:650px;}
    .mapFrame {height:700px;}
    .newsButton {}
.allnews {margin-top:30px !important; text-align: center !important ;width:100%;float:unset;}

    
    }

    @media only screen and (max-width:1023px){

        .infographic h1
        {
            width:50%;
        }
        .wordBubble blockquote h3 {font-size:25px !important;}
        .BQContainer{height:auto;}
    }
    @media only screen and (max-width: 900px) {
.contactPic img {float:unset;}
.contactText {float:unset;padding-left:0px;}
    }


    @media only screen and (max-width: 800px) {
        .thrive {padding-left:10px;padding-right:10px;width:100%;}
.wordBubble {position:unset; top:20px;width:95%;margin-top:10px;height:inherit;}
.articles {position:unset;top:10px;width:95%;}
.BQTitle {position:unset;}
.slick-slide{min-height:1000px;height:unset;}
.slick-slide img {float:unset !important;height:auto; width:50%;}
#featured {min-height:860px;}
#featured .slick-slide {height:unset !important;min-height:900px !important;}
.fImage {width:100% !important;float:unset;}
.contentCol {width:100%;float:unset;}
.mapFrame {height:625px;}
    }

    @media only screen and (max-width: 650px) {
.wordBubble blockquote h3 {font-size:20px !important;}
#bigquestions {padding-left:20px;padding-right:20px;}
.threeButtons a div
{
    margin-bottom:20px;
    width:75%;
    text-align: center;
    margin:0 auto;
    float:unset;
    margin-bottom:30px;
    
}   
}

    @media only screen and (max-width: 550px) {
    .thrive {padding-left:10px;padding-right:10px;width:37%;}

#mainB .slick-arrow {top:10px;}
}
        @media only screen and (max-width: 430px) {

.mapFrame {height:550px;}
.mapeal .myText {margin-left:0px;margin-top:20px;}


        .infographic h1
        {
            
            xpadding:0px !important;
            width:100% !important;
            }
        .infographic h2{
font-size:15px !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
        }
.Standard h1{text-align:center !important;}
.Green h1 {text-align:center !important;}
.posterBanner h2,h1,p{text-align:center !important;}
.thrive {width:100%;}
.fImage {display:unset !important; width:70%; float:unset !important;padding-right:0px; }
#featured h1 {font-size:30px !important; }        
#featured h2 {font-size:25px !important; }     
#featured p {font-size:12px !important; padding-left:10px; padding-right:10px; width:100%;}  
#featured .slick-slide {min-height:1100px !important;}
.slick-prev {top:18%;left:0px;} 
.slick-next {top:18%;right:-7px;}
.contactPic {text-align:center;}
.contactPic img {padding: 20px;width: 50%;float:unset;}
.slick-list {overflow:unset !important;height:600px;}
.xBigQuestion h1 {font-size:30px !important;}
.imgDiv{    height: 100px;
    width: 245px !important;
    margin: 0 auto !important;;
    /* margin-right: 0px !important; */
    width: 50%;
    /* margin-left: 190px; */
    border: 27px solid #096a47;
    border-radius: 350px;
    background-color: #fff;
    padding: 10px;
    background-size: 80%;
    background-position-x: 16px;
    background-position-y: -5%;
    background-repeat: no-repeat;
    float:unset !important;

}
    .wordBubble{    
        color: #fff;
        width: 91%;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        xposition: absolute;
        /* right: 94px; */
        xtop: 342px;
        /* display: none; */
        border-radius: 15px;
        padding: 23px;
        padding-top: 28px;right:0px;}
     .wordBubble blockquote h3 {font-size:18px !important;line-height:25px !important;}
     #bigquestions {font-size:25px !important;}
     .greenText {font-size:28px;}
       .BQTitle { font-size:19px; text-align:center; right:0;top:237px; width:100%;}
       .articles {display:none;}


.Gray
{padding-left:0px !important;}

.threeButtons a div
{
   
    width:100%;
  
    
}
}