
/*************** Service Box ***************/

.service-box .read-more {
    margin-top: 4px;
    font-weight: 500;
    margin-left: 2px;
}

.service-box .read-more i {
    display: inline-block;
    position: relative;
    top: 1px;
}

.image-service-box img {
    margin-bottom: 14px;
}

.image-service-box h4 {
    margin-bottom: 8px;
    padding: 0 10px;
    font-weight: 400;
}

.image-service-box p {
    padding: 0 10px;
}

.service-box {
    margin-bottom: 35px;
}

.service-center {
    text-align: center;
}

.service-icon-left .service-icon {
    float: left;
}

.service-icon-left .service-content {
    padding-left: 45px;
}

.service-icon-left-more .service-icon {
    float: left;
}

.service-icon-left-more .service-content {
    padding-left: 60px;
}

.service-center .service-icon {
    margin-bottom: 14px;
}

.service-center .service-content h4 {
    margin-bottom: 6px;
    font-weight: 500;
}

.service-center .service-icon i {
    display: inline-block;
}

.service-box h4 {
    margin-bottom: 5px;
    font-weight: 400;
}

.service-box > div:first-child {
    padding: 0;
}

.service-boxed {
    margin-top: 30px;
    padding: 0 15px 20px 15px !important;
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.service-boxed:hover {
    border-color: #e2e2e2;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.service-boxed p {
    margin-bottom: 0;
}

/**/

body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
